@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap&subset=latin-ext");
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #020303;
    overflow-x: hidden;
}

body ::-moz-selection {
    background: #f3dc19;
    color: #fff;
}

body ::selection {
    background: #f3dc19;
    color: #fff;
}

body ::-moz-selection {
    background: #f3dc19;
    color: #fff;
}

*::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
    background-color: #020303;
}

.clr {
    display: block;
    clear: both;
}

.coveredImg {
    background-position: center center;
    background-size: cover;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li a {
    text-decoration: none !important;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 100;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.98);
}

header .logo {
    margin-top: 30px;
    float: left;
}

header .logo img {
    display: block;
    width: 220px;
}

header .mobile-bar {
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 25px;
    cursor: pointer;
}

header .menu {
    float: right;
    margin-top: 30px;
}

header .menu ul li {
    position: relative;
    display: inline-block;
}

header .menu ul li a {
    display: block;
    font-weight: 500;
    font-size: 20px;
    padding: 5px 20px;
    color: #020303;
    position: relative;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

header .menu ul li a:after {
    content: '';
    height: 3px;
    background: #f3dc19;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

header .menu ul li ul {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: white;
    -webkit-box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.07);
}

header .menu ul li ul li {
    display: block;
}

header .menu ul li ul li a {
    font-size: 15px;
    white-space: nowrap;
}

header .menu ul li ul li a:after {
    display: none;
}

header .menu ul li ul li:hover a {
    background: #020303;
    color: #fff;
}

header .menu ul li ul li:last-child a {
    background: transparent;
    font-weight: 500;
    padding: 5px 20px;
}

header .menu ul li:last-child a {
    background: #f3dc19;
    font-weight: 700;
    padding: 5px 35px;
    white-space: nowrap;
}

header .menu ul li:last-child a:after {
    display: none;
}

header .menu ul li:last-child a:hover {
    background: #020303;
    color: #fff;
}

header .menu ul li:hover a:after {
    width: 50%;
}

header .menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

header:after {
    content: '';
    display: block;
    clear: both;
}

.mobil-menu-area {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: #f3dc19;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.mobil-menu-area.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobil-menu-area ul {
    margin: 15px;
}

.mobil-menu-area ul li {
    position: relative;
    margin-bottom: 10px;
}

.mobil-menu-area ul li a {
    color: #020303;
    font-size: 20px;
    font-weight: 900;
}

.mobil-menu-area ul li ul {
    margin-left: 25px;
    display: none;
}

.mobil-menu-area ul li ul li a {
    font-weight: 600;
    font-size: 15px;
}

.form .iti {
    width: 100%;
}

.form .iti input {
    outline: none !important;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #000;
}

.form .iti .iti__selected-flag {
    background-color: transparent !important;
    padding-left: 0px;
    outline: none;
}

.form .form-group {
    position: relative;
}

.form .form-group input[type=text], .form .form-group input[type=email], .form .form-group textarea, .form .form-group select {
    width: 100%;
    border: 0px;
    outline: none;
    padding: 10px 0;
    border-radius: 0px;
    border-bottom: 1px solid #020303;
    background: transparent;
    resize: none;
}

.form .form-group input[type=text]::-webkit-input-placeholder, .form .form-group input[type=email]::-webkit-input-placeholder, .form .form-group textarea::-webkit-input-placeholder, .form .form-group select::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.form .form-group input[type=text]:-ms-input-placeholder, .form .form-group input[type=email]:-ms-input-placeholder, .form .form-group textarea:-ms-input-placeholder, .form .form-group select:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.form .form-group input[type=text]::-ms-input-placeholder, .form .form-group input[type=email]::-ms-input-placeholder, .form .form-group textarea::-ms-input-placeholder, .form .form-group select::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.form .form-group input[type=text]::placeholder, .form .form-group input[type=email]::placeholder, .form .form-group textarea::placeholder, .form .form-group select::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.form .form-group button {
    background: #020303;
    border: 0px;
    cursor: pointer;
    padding: 5px 20px;
    color: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    font-weight: 700;
    border-bottom: 1px solid transparent;
}

.form .form-group button:hover {
    background: #f3dc19;
    color: #020303;
    border-color: #020303;
}

.form .form-group label {
    position: absolute;
    top: 10px;
    margin: 0;
    font-size: 14px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.form .form-group.focus label {
    font-size: 8px;
    top: -5px;
    pointer-events: none;
}

.form .form-group .ahov-error {
    color: red;
    font-size: 8px;
    font-weight: 500;
    margin: 5px 0;
}

.page {
    margin-top: 100px;
}

.page .page-title {
    font-weight: 900;
    text-align: center;
    font-size: 40px;
}

.page .mcbread {
    text-align: center;
    margin: 10px 0;
}

.page .mcbread a {
    text-decoration: none;
    color: #020303;
    display: inline-block;
    font-weight: 500;
    position: relative;
    margin-right: 25px;
    font-size: 15px;
}

.page .mcbread a:after {
    content: '\f105';
    font-family: FontAwesome;
    color: #f3dc19;
    position: absolute;
    right: -20px;
    font-size: 22px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.page .mcbread a:last-child {
    margin-right: 0;
}

.page .mcbread a:last-child:after {
    display: none;
}

.contact-area .svg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    width: 100%;
}

.contact-area .container {
    position: relative;
}

.contact-area .container .form {
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.16);
    padding: 25px 40px;
    position: relative;
    z-index: 1;
}

.contact-area .container .form .ftitle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-area .container .logo img {
    width: 160px;
    position: relative;
    z-index: 1;
    margin-top: 15px;
}

.contact-area .container #map {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.contact-area .container .address {
    position: relative;
    z-index: 1;
    text-align: right;
}

.contact-area .container .address b, .contact-area .container .address strong {
    font-weight: 900;
    font-size: 17px;
    margin-top: 10px;
    display: block;
    margin-bottom: 5px;
}

.contact-area .container .address p {
    font-size: 15px;
    margin: 0;
}

.contact-area .container .address p a {
    color: inherit;
    text-decoration: none;
}

.contact-area .cls {
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
    line-height: 0px;
}

.contact-area .cls i {
    font-size: 50px;
}

.contact-area .title {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 40px;
}

.contact-area .title span {
    position: relative;
    display: inline-block;
}

.contact-area .title span:after {
    content: '';
    position: absolute;
    bottom: 7px;
    z-index: -1;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    background: #f3dc19;
}

.contact-area.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

#page-home .main-slider {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: calc(100vh - 100px);
    background-image: url("../images/home-main-bg.svg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
}

#page-home .main-slider .container {
    position: relative;
    height: 100%;
}

#page-home .main-slider .texts {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 60px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#page-home .main-slider .texts span {
    font-size: 28px;
    display: block;
}

#page-home .main-slider .texts b {
    display: block;
    font-size: 58px;
    line-height: 50px;
    font-weight: 900;
}

#page-home .main-slider .texts:after {
    content: '';
    width: 96px;
    height: 157px;
    background: #f3dc19;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -45px;
    z-index: -1;
}

#page-home .main-slider .img {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: none;
}

#page-home .main-slider .mouse {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 21px;
    height: 36px;
    background-image: url("../images/mouse.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#page-home .whatwedo {
    position: relative;
    padding: 50px 0;
    z-index: 1;
    background-image: url("../images/nasil-yapiyoruz.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#page-home .whatwedo .title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin-bottom: 100px;
}

#page-home .whatwedo .boxes {
    margin: 50px 0;
}

#page-home .whatwedo .boxes .box {
    margin: -50px 0;
}

#page-home .whatwedo .boxes .box .img {
    margin-right: 30px;
    float: left;
}

#page-home .whatwedo .boxes .box .img img {
    width: 270px;
    height: 270px;
    -o-object-fit: contain;
    object-fit: contain;
}

#page-home .whatwedo .boxes .box .texts {
    width: 350px;
    float: left;
    margin-top: 80px;
}

#page-home .whatwedo .boxes .box .texts h2 {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 10px;
}

#page-home .whatwedo .boxes .box .texts p {
    margin: 0;
    font-size: 15px;
}

#page-home .whatwedo .boxes .box:after {
    content: '';
    display: block;
    clear: both;
}

#page-home .whatwedo .boxes .box.right {
    text-align: right;
}

#page-home .whatwedo .boxes .box.right .img {
    float: right;
    margin-left: 30px;
    margin-right: 0;
}

#page-home .whatwedo .boxes .box.right .texts {
    float: right;
}

#page-home .about-us {
    position: relative;
    z-index: 1;
}

#page-home .about-us .texts {
    margin-top: 80px;
}

#page-home .about-us .texts b {
    font-weight: 900;
    font-size: 70px;
    display: inline-block;
    position: relative;
}

#page-home .about-us .texts b span {
    display: block;
    font-size: 50px;
    text-align: right;
    position: relative;
    font-weight: 300;
    line-height: 20px;
}

#page-home .about-us .texts b:after {
    content: '';
    position: absolute;
    bottom: 20px;
    right: -10px;
    left: 0;
    height: 15px;
    background-color: #f3dc19;
    z-index: -1;
    border-bottom-left-radius: 20px;
}

#page-home .about-us .texts .desc {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
}

#page-home .about-us .img img {
    width: 100%;
}

#page-subpage {
    position: relative;
    z-index: 1;
    padding: 70px 0;
}

#page-subpage .content {
    padding: 50px 0;
}

#page-subpage .content .img {
    pointer-events: none;
}

#page-subpage .content .img img {
    width: 100%;
    margin-bottom: 50px;
}

#page-subpage .content .img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
}

#page-subpage .content h2 {
    font-size: 20px;
    font-weight: 900;
    margin-top: 20px;
}

#page-subpage .content .texts {
    margin-top: 10px;
}

#page-subpage .content .texts b {
    font-weight: 900;
    font-size: 55px;
    display: inline-block;
    position: relative;
}

#page-subpage .content .texts b span {
    display: block;
    font-size: 35px;
    text-align: right;
    position: relative;
    font-weight: 300;
    line-height: 20px;
}

#page-subpage .content .texts b:after {
    content: '';
    position: absolute;
    bottom: 20px;
    right: -10px;
    left: 0;
    height: 15px;
    background-color: #f3dc19;
    z-index: -1;
    border-bottom-left-radius: 20px;
}

#page-subpage .content .texts .desc {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
}

#page-subpage .content a {
    text-decoration: none;
    color: #020303;
    font-weight: 500;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

#page-subpage .content a:hover {
    color: #f3dc19;
}

#page-subpage .odak-boxes {
    margin-top: 50px;
}

#page-subpage .odak-boxes .box {
    text-align: center;
    margin-bottom: 50px;
}

#page-subpage .odak-boxes .box img {
    width: 100%;
    height: 130px;
    padding: 0 25px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 25px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#page-subpage .odak-boxes .box .title {
    font-weight: 900;
    font-size: 20px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: relative;
}

#page-subpage .odak-boxes .box .title:after {
    content: '';
    width: 50px;
    height: 2px;
    background: #FB503B;
    position: absolute;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

#page-subpage .odak-boxes .box:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#page-subpage .odak-boxes .box:hover .title {
    color: #FB503B;
}

#page-subpage .odak-boxes .box:hover .title:after {
    bottom: -15px;
}

#page-subpage .odak-boxes .box.blu .title:after {
    background: #007AFF;
}

#page-subpage .odak-boxes .box.blu:hover .title {
    color: #007AFF;
}

footer {
    margin-top: -35vh;
    padding-top: 55vh;
    position: relative;
    background-image: url("../images/footer-bg.svg");
    background-size: cover;
    background-position: center top;
}

footer .help .form {
    background-color: #fff;
    background-image: url("../images/form-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.16);
    padding: 50px;
}

footer .help .title {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

footer .help .title p {
    font-size: 50px;
    margin-bottom: 0;
    position: relative;
}

footer .help .title p span {
    position: relative;
    z-index: 1;
}

footer .help .title p:last-child {
    font-weight: 900;
    font-size: 70px;
    line-height: 50px;
    display: inline-block;
}

footer .help .title p:last-child:after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 0;
    width: 85%;
    height: 16px;
    background: #f3dc19;
}

footer .help .desc {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

footer .help .desc p {
    margin-bottom: 10px;
}

footer .help .desc a {
    color: #020303;
}

footer .foot {
    margin-top: 50px;
    padding: 30px 0;
    text-align: center;
}

footer .foot .logo {
    margin-bottom: 20px;
}

footer .foot .logo img {
    width: 270px;
}

footer .foot .social {
    margin-bottom: 15px;
}

footer .foot .social a {
    display: inline-block;
    padding: 5px 15px;
    font-size: 25px;
    margin-right: 3px;
    color: #020303;
    position: relative;
}

footer .foot .social a i {
    position: relative;
    z-index: 1;
}

footer .foot .social a:after {
    content: '';
    width: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    height: 10px;
    background: #f3dc19;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

footer .foot .social a:hover:after {
    width: 100%;
}

footer .foot .social a:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 10px;
    background: #f3dc19;
    right: -4.5px;
}

footer .foot .social a:last-child:before {
    display: none;
}

footer .copy {
    background: #f3dc19;
    color: #020303;
    padding: 15px 0;
    text-align: center;
    font-size: 10px;
}

footer .copy a {
    display: inline-block;
    color: inherit;
    vertical-align: middle;
}

footer .copy .desc {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

.abtn a {
    display: inline-block;
    background: #f3dc19;
    color: #020303;
    padding: 5px 20px;
    font-weight: bold;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    text-decoration: none;
    margin: 20px 0;
    font-size: 14px;
}

.abtn a:hover {
    background: #020303;
    color: #fff !important;
}

#langselect {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
}

#langselect>li>a {
    display: block;
    padding: 5px;
    background-color: #f3dc19;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
}

#langselect>li>a.active {
    background-color: #020303;
    color: #f3dc19
}

#mobilelang {
    position: fixed;
    bottom: 0;
}

#mobilelang a {
    margin-right: 10px;
}

@media (max-width: 991px) {
    header {
        background: #f3dc19;
        height: 50px;
    }
    header .menu {
        display: none;
    }
    header .logo {
        margin-top: 15px;
    }
    header .logo img {
        width: 120px;
    }
    header .mobile-bar {
        display: block;
    }
    .page {
        margin-top: 50px;
    }
    .page .page-title {
        font-size: 18px;
    }
    .page .mcbread {
        margin: 0;
    }
    .mobil-menu-area {
        display: block;
    }
    #page-home .main-slider {
        height: auto;
    }
    #page-home .main-slider .texts {
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: inherit;
        transform: inherit;
        text-align: center;
        background: #f3dc19;
        margin: 0 -15px;
        margin-bottom: 25px;
        padding: 20px 0;
    }
    #page-home .main-slider .texts span {
        font-size: 18px;
    }
    #page-home .main-slider .texts b {
        font-size: 35px;
        line-height: 35px;
    }
    #page-home .main-slider .texts:after {
        display: none;
    }
    #page-home .main-slider .img {
        position: relative;
        top: auto;
        right: auto;
        -webkit-transform: inherit;
        transform: inherit;
    }
    #page-home .main-slider .img img {
        width: 100%;
    }
    #page-home .whatwedo .title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    #page-home .whatwedo .boxes {
        margin: 0;
    }
    #page-home .whatwedo .boxes .box {
        margin: 25px 0;
    }
    #page-home .whatwedo .boxes .box .img {
        float: none;
        margin-right: 0;
    }
    #page-home .whatwedo .boxes .box .img img {
        height: auto;
        width: 200px;
        margin: 0 auto;
        display: block;
    }
    #page-home .whatwedo .boxes .box .texts {
        width: 100%;
        float: none;
        margin-top: 15px;
        text-align: center;
    }
    #page-home .whatwedo .boxes .box .texts h2 {
        font-size: 17px;
        margin: 10px 0;
    }
    #page-home .whatwedo .boxes .box.right .img {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    #page-home .whatwedo .boxes .box.right .texts {
        text-align: center;
    }
    #page-home .about-us .texts {
        margin-top: 0;
        text-align: center;
    }
    #page-home .about-us .texts b {
        font-size: 55px;
    }
    #page-home .about-us .texts b:after {
        bottom: 15px;
        left: -5px;
    }
    #page-home .about-us .img {
        margin-top: 20px;
    }
    #page-subpage {
        padding: 15px 0;
    }
    #page-subpage .content {
        padding: 25px 0;
    }
    #page-subpage .content h2 {
        font-size: 15px;
        font-weight: 600;
    }
    #page-subpage .content .texts {
        margin: 0;
        text-align: center;
    }
    #page-subpage .content .texts b {
        font-size: 30px;
    }
    #page-subpage .content .texts b:after {
        display: none;
    }
    #page-subpage .content .texts b span {
        text-align: center;
        font-size: inherit;
        line-height: normal;
    }
    #page-subpage .content .img img {
        margin: 50px 0;
    }
    #page-subpage .odak-boxes {
        margin: 0;
    }
    #page-subpage .odak-boxes .box img {
        padding: 0;
        width: 100px;
        height: 60px;
    }
    .contact-area {
        overflow: hidden;
        overflow-y: auto;
        padding-bottom: 20px;
    }
    .contact-area .title {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 16px;
    }
    .contact-area .cls i {
        font-size: 30px;
        line-height: 20px;
    }
    .contact-area .container .form {
        padding: 20px;
    }
    .contact-area .container .logo {
        display: none;
    }
    .contact-area .container #map {
        height: 160px;
        margin: 20px 0;
    }
    .contact-area .container .address {
        text-align: left;
    }
    .contact-area .svg {
        display: none;
    }
    footer {
        margin-top: 50px;
        padding-top: 0;
    }
    footer .help .form {
        padding: 30px;
    }
    footer .help .title {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    footer .help .title p {
        font-size: 23px;
    }
    footer .help .title p:last-child {
        font-size: 40px;
        line-height: 30px;
    }
    footer .help .desc {
        font-size: 15px;
        text-align: center;
    }
    footer .foot {
        margin-top: 0px;
        padding: 10px 0;
    }
    footer .foot .logo {
        margin-bottom: 5px;
    }
    footer .foot .logo img {
        width: 110px;
    }
    footer .foot .social {
        margin-bottom: 0;
    }
    footer .foot .social a {
        padding: 5px 10px;
        font-size: 20px;
    }
    footer .copy {
        padding: 10px 0;
    }
    #langselect {
        display: none;
    }
}

@media (max-width: 1280px) {
    header .menu ul li a {
        font-size: 15px;
    }
}